<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="stan.androiddemo">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name="org.litepal.LitePalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".project.weather.WeatherActivity" />
        <activity android:name=".ProjectActivity" />
        <activity android:name=".project.weather.WeatherInfoActivity" />
        <activity android:name=".LayoutActivity" />
        <activity android:name=".layout.keyboard.KeyboardActivity" />

        <activity android:name=".CommunicationActivity" />
        <activity android:name=".communication.IPC.IPCActivity"></activity>
        <activity
            android:name=".project.novel.NovelSearchActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".layout.constraintLayout.ConstraintLayoutDemoActivity" />
        <activity android:name=".project.novel.SectionListActivity" />
        <activity android:name=".project.novel.NovelActivity"></activity>
    </application>

</manifest> <!-- issue0:can not hide the title bar --><!-- just use   android:theme="@style/Theme.AppCompat.Light.NoActionBar"> -->
