<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="stan.androiddemo">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:name="org.litepal.LitePalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".project.weather.WeatherActivity" />
        <activity android:name=".ProjectActivity" />
        <activity android:name=".project.weather.WeatherInfoActivity" />
        <activity android:name=".LayoutActivity" />
        <activity android:name=".layout.keyboard.KeyboardActivity" />
        <activity android:name=".CommunicationActivity" />
        <activity android:name=".communication.IPC.IPCActivity" />
        <activity
            android:name=".project.novel.NovelSearchActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".layout.constraintLayout.ConstraintLayoutDemoActivity" />
        <activity android:name=".project.novel.SectionListActivity" />
        <activity android:name=".project.novel.NovelActivity" />
        <activity android:name=".drawview.drawtext.DrawTextActivity" />
        <activity android:name=".DrawViewActivity" />
        <activity
            android:name=".project.novel.BookmarkActivity"
            android:label="@string/title_activity_bookmark"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".ThreadActivity" />
        <activity android:name=".Thread.Service.ServiceActivity" />

        <service
            android:name=".Thread.Service.DemoService"
            android:enabled="true"
            android:exported="true" />
        <service
            android:name=".Thread.Service.DemoIntentService"
            android:exported="false" />
        <service
            android:name="download.demo.DownloadService"
            android:enabled="true"
            android:exported="true" />

        <activity android:name=".layout.materialdesign.MaterialDesignActivity" />
        <activity
            android:name=".layout.materialdesign.FruitInfoActivity"
            android:theme="@style/FruitActivityTheme" />
        <activity android:name=".project.Mito.MitoActivity" />
        <activity android:name=".project.Mito.ImageSetActivity" />
        <activity
            android:name=".project.FiveStroke.FiveStrokeActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".layout.RecyclerView.RecyclerViewActivity" />
        <activity android:name=".communication.Notification.NotificationActivity" />

        <receiver
            android:name=".communication.Notification.DemoReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver
            android:name=".communication.Notification.CustomReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter android:priority="100">
                <action android:name="com.androiddemo.broadcast.CUSTOMBROADCAST" />
            </intent-filter>
        </receiver>

        <activity android:name=".store.ContentProvider.ContentProviderActivity" />
        <activity android:name=".StoreActivity" />
        <activity android:name=".communication.Notification.PendingIntentActivity" />
        <activity android:name=".project.Mito.AboutMitoActivity" />
        <activity android:name=".project.Mito.CollectActivity" />
        <activity
            android:name=".project.petal.Module.Guide.GuideActivity"
            android:theme="@style/AppPetalTheme" />
        <activity
            android:name=".project.petal.Module.Main.PetalActivity"
            android:theme="@style/AppPetalTheme" />
        <activity
            android:name=".project.petal.Module.Search.SearchPetalActivity"
            android:label="@string/title_activity_search_petal"
            android:theme="@style/AppPetalTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".project.petal.Module.Search.SearchPetalResultActivity"
            android:label="@string/title_activity_search_petal_result"
            android:theme="@style/AppPetalTheme" />
        <activity
            android:name=".project.petal.Module.Type.PetalTypeActivity"
            android:label="@string/title_activity_petal_type"
            android:theme="@style/AppPetalTheme" />
        <activity android:name=".project.petal.Module.ImageDetail.PetalImageDetailActivity" />
        <activity android:name=".project.petal.Module.Login.PetalLoginActivity" android:theme="@style/AppPetalTheme"></activity>
    </application>

</manifest> <!-- issue0:can not hide the title bar --><!-- just use   android:theme="@style/Theme.AppCompat.Light.NoActionBar"> -->
